<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <h1>Cadastro de consulta</h1>
<hr>
<form method="POST" action="create">
     <input type="text"name="name"id="name"placeholder="Nome do paciente"class="form-control">
     <input type="email"name="email"id="email"placeholder="email@email.com"class="form-control">
     <input type="text"name="cpf" placeholder="CPF"class=" cpf form-control">
     <input type="text"name="description"id="description"class="form-control"placeholder="Descrição">
     <input type="date"name="date"id="date"class="form-control"placeholder="12/02/2089">
     <input type="time"name="time"id="time"class="form-control">
     <button class="btn btn-success btn-block w-100">Agendar</button>
</form>

</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

<script src="jquery.mask.min.js"></script>
<script>
   $('.cpf').mask('000.000.000-00');

</script>
</html>